
* {
    margin: 0;
    padding: 0;
}


html {
    
    box-sizing: border-box;
    font-size: 18px;
}

.container {
    width: 100%;
    height: 100%;
    background-color: seagreen;
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url(fonts/woff/OpenSans-Light.woff);
    
  }

#frame {
    position: absolute;
    border: 2px solid #262626;
    
    width: 300px;
    height: 450px;
    left: 950px;
}

.Ludwig {
    position: absolute;
    border: 2px solid #262626;
    
    left: -100px;
    top: 30px;
    width: 350px;
}

#scroll {
    position: absolute;
    left: 50%;
    top: 99%;
    transform: translate(-50%, -50%);
}


h1 {
    position: absolute;
    color: #e9c46a;
    top: 130px;
    left: 20px;
    font-family: "OpenSans-Regular";
    font-style: light;
    font-weight: bold;
    font-size: 10em;
}

a {
    color:#e9c46a;
    text-decoration: none;
    font-size: 2.5em;
}

li {
    
    list-style-type: none;
    font-family: "OpenSans-Regular";
    font-style: light;
    font-weight: bold;
}

.menu {
    position: absolute;
    color: #e9c46a;
    top: 140px;
    right: 250px;
    font-family: "OpenSans-Regular";
    font-style: light;
    font-weight: bold;
    text-decoration: none;
    
}

#section1 {
    background-color: #262626;
    display: flex;
    width: 100%;
    height: 100vh;
}

#section2 {
    display: flex;
    background-color: #f4f4f4;;
    color: #f4f4f4;
    width: 100%;
    height: 100vh;

}

