
* {
    margin: 0;
    padding: 0;
}


html {
    
    box-sizing: border-box;
    font-size: 18px;
}

.container {
    width: 100%;
    height: 100%;
    background-color: seagreen;
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url(fonts/woff/OpenSans-Light.woff);
    
  }

#frame {
    position: absolute;
    border: 2px solid #262626;
    
    width: 300px;
    height: 450px;
    left: 950px;
}

.Ludwig {
    position: absolute;
    border: 2px solid #262626;
    
    left: -100px;
    top: 30px;
    width: 350px;
}

#scroll {
    position: absolute;
    left: 50%;
    top: 99%;
    transform: translate(-50%, -50%);
}


.header {
    position: absolute;
    color: #e9c46a;
    top: 98%;

    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "OpenSans-Regular";
    font-style: light;
    font-weight: bold;
    text-align: center;
    font-size: 10em;

}

.header_wer {
    color: #262626;
    font-family: "OpenSans-Regular";
    font-style: light;
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
}

a {
    color:#e9c46a;
    text-decoration: none;
    font-size: 2.5em;
}

li {
    
    list-style-type: none;
    font-family: "OpenSans-Regular";
    font-style: light;
    font-weight: bold;
}

.menu {
    position: absolute;
    color: #e9c46a;
    top: 140px;
    right: 250px;
    font-family: "OpenSans-Regular";
    font-style: light;
    font-weight: bold;
    text-decoration: none;
    
}

#section1 {
    background-color: #262626;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
}

#section2 {
    display: flex;
    background-color: #f4f4f4;;
    color: #f4f4f4;
    width: 100%;
    height: 40vh;

}

#section3 {
    display: flex;
    background-color: #e9c46a;;
    color: #262626;
    width: 100%;
    height: 100vh;
    font-size: 3em;
    text-align: center;
}

.lud {
    color: #f4f4f4;
}

.wit {

    color: #262626;

}

.radius {
    position: absolute;
    width: 40em;
    height: 20em;
    top: 180px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    background: #e9c46a;
    z-index: 0;
  }

  .rhino {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    top: 180px;
    
  }